.login-grid {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

::placeholder {
  color: #bfbfbf;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #bfbfbf;
}

.field-error {
  border: 1px solid red;
}
