.btn-new {
    width:fit-content;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 60px;
}
.btn-new:hover {
  transform: scale(1.2);
}

.note {
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  transition: transform 0.3s ease-in-out;
}

.note:hover {
  box-shadow: 0px 15px 9px 12px rgba(0,0,0,0.2);
  transform: scale(1.05);
}
