<div class="container mt-3">
    <div *ngFor="let note of notes" class="w-50 mx-auto">
        <a [routerLink]="['/notes', note.id]" class="text-decoration-none">
            <div class="bg-white border border-orange rounded note p-4 mb-2">
                <h4 class="text-orange">{{note.title}}</h4>
                <div class="text-dark" [innerHtml]="note.content | safeHtml"></div>
                <p class="text-secondary post-author">{{note.author}}</p>
            </div>
        </a>
    </div>
    <div class="btn-new">
        <img [src]="newPath" width="70" (click)="createNewNote()" />
    </div>
</div>
