<div class="pb-5 min-vh-100 main-bg">
    <nav class="navbar navbar-expand navbar-light justify-content-between px-4">
        <div></div>
        <a class="navbar-brand d-flex mr-2 text-decoration-none" routerLink="/home">
            <img [src]="logoPath" [width]="logoWidth" />
            <h2 class="my-auto">Notes</h2>
        </a>
        <div class="ml-auto">
            <button class="btn btn-purple" (click)="redirectToLogin()" *ngIf="isLogged()">Login</button>
            <button (click)="disconnect()" *ngIf="!isLogged()" class="h-100 my-auto btn btn-outline-purple">
                Disconnect
            </button>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
