/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c2c2;
  border-radius: 10px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a3a3a3;
  }

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

.post-author {
  font-weight: 300;
  text-align: end;
}

.text-orange {
  color: #ff8e38;
}
.text-orange:focus {
  color: #ff8e38;
}

.border-orange {
  border-color: #ff8e38 !important;
}

.btn-orange {
  background-color: #ff8e38;
  color: white;
}
.btn-orange:hover {
  background-color: #d67227;
  color: white;
}

.btn-purple {
  color: white;
  background-color: #6610f2;
}

.btn-purple:hover {
  background-color: #500ac2;
  color: white;
}

.btn-outline-purple {
    background-color: #ffffff;
  border-color: #6610f2;
  color: #6610f2;
}

.btn-outline-purple:hover {
  background-color: #6610f2;
  color: white;
}

.nav-pills .nav-link {
  color: #6610f2;
}

.nav-pills .nav-link:hover {
  color: #500ac2;
}

.nav-pills .nav-link.active {
  color: white;
  background-color: #6610f2;
}

.nav-pills .nav-link.active:hover {
  color: white;
  background-color: #500ac2;
}

.main-bg {
  background: linear-gradient(to bottom right, #ffffff, rgb(255,142,56,0.1));
}

