<div class="container pt-2">
    <h1>Edit Note</h1>
    <form #form="ngForm" (ngSubmit)="onEnter(form)">
        <div class="w-50 h-100 mx-auto">
            <div class="bg-white border border-orange rounded p-4 mb-2">
                <input id="title" name="title" class="form-control text-orange fs-4 border-0 mb-2" type="text"
                       [(ngModel)]="updatedNote.title" [disabled]="modifiable" />
                <ejs-richtexteditor id="content" name="content" [(ngModel)]="updatedNote.content" [readonly]="modifiable"
                                    [toolbarSettings]="tools" [maxLength]="maxLength">
                </ejs-richtexteditor>
                <p class="text-secondary post-author">{{updatedNote.username}}</p>
            </div>
            <div class="d-flex gap-1">
                <button type="submit" class="btn btn-success" [disabled]="modifiable">Save</button>
                <button class="btn btn-danger" [disabled]="modifiable" (click)="deleteNote()">Delete</button>
            </div>
        </div>
    </form>
</div>
